.form-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}
input {
  display: block;
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #a3c9f7;
  border-radius: 5px;
}
button {
  width: 95%;
  background-color: #3399ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
